<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Document</title>
</head>

<body>
    <h1 style="text-align:center">About</h1>
    <div class="containerCards">

        <div class="cardAbout">

            <img src="/images/uruguay.png">
            <div class="container">
                <h2>Beginnings in Uruguay</h2>
                <p>In 2012 he began in the training of Club Atlético Peñarol and in that year he scored 8 goals, despite not winning titles. Due to his good performance, the recruitment coordinator in Peñarol, Néstor Gonçalves , recommended him for the Uruguay
                    U-15 team, despite the fact that coach Alejandro Garay was not very convinced.
                </p>
                <h2>Real Madrid</h2>

                <p>He joined Real Madrid Club de Fútbol on July 28, 2016, after waiting to reach the age of majority according to FIFA regulations on international transfers, with a contract with the subsidiary team, Real Madrid Castilla Club de Fútbol .
                    After the preseason he made his debut on August 6 in a friendly match against Sociedad Deportiva Huesca , which ended with a 2-1 loss
                </p>
                <h2>National selection</h2>

                <p>On August 11, 2017, Federico was included by Óscar Washington Tabárez in the reserve list for the first time to play for the Uruguayan senior team. 123124 On August 23, he was confirmed in the final list for the double qualifying date
                    to play against Argentina and Paraguay. </p>


            </div>
        </div>
    </div>
    </div>





</body>

</html>