<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Document</title>
</head>

<body>
    <h1 style="text-align:center">Teams</h1>
    <div class="containerCards">

        <div class="card">
            <img src="/images/uruguay.png" style="width:100%">
            <div class="container">
                <h2>Uruguay</h2>
                <p class="title">National Team</p>
                <p>Debut: September 5, 2017</p>
                <p>Matches played: 32</p>


            </div>
        </div>


        <div class="card">
            <img src="/images/realMadrid.png" style="width:100%">
            <div class="container">
                <h2>Real Madrid</h2>
                <p class="title">Actual Team</p>
                <p>Debut: August 6, 2016</p>
                <p>Matches played: 166</p>


            </div>
        </div>


        <div class="card">
            <img src="/images/penarol.png" style="width:100%">
            <div class="container">
                <h2>Peñarol</h2>
                <p class="title">Debut Team</p>
                <p>Debut: August 16, 2015</p>
                <p>Matches played: 13</p>


            </div>
        </div>
    </div>
</body>

</html>